*{
	margin:0;
	padding: 0;
	
}

body{
	margin: 0;
	padding: 0;
	
}

.container nav.desk{
	width: 100%;
	background: #808080;
	height: 60px;
	box-shadow: 0 2px p rgba(128,128,128);
	position: fixed;
	left: 0;
	top: 0;
	
}

nav.desk ul{
	list-style: none;
	width: 75%;
	height: 60px;
	margin: 0 auto;
}

nav.desk ul li{
	width: 20%;
	float: left;
	text-align: center;
	line-height: 60px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.5s ease
}

nav.desk ul li:hover{
	background:#808080;
}

nav.desk ul li.active{
	background:#808080;
}

nav ul li a{
	color: white;
	text-decoration: none;
}

.hero-image{
		width: 100%;
		height: 500px;
}

.main-heading{
	margin: 0;
	padding:0;
	box-shadow: 0 2px p rgba(128,128,128);
	text-align: center;
	background: #808080;
	color: white;
	font-size: 30px;
	font-family:Comic Sans MS;
	
}

.container{
	max-width:2000px;
	margin:0 auto;
	padding: 0;
	 
 }

.main-footer{
	background-color:#808080;
	color :white;
	padding: .25cm 0;
	
}
.main-footer-container{
	display:flex;
	align-items: center;
	
}

.main-footer-container ul{
	flex-grow: 1;
	text-align: center;
	
}
.footer-nav li{
	padding:0 .5cm;
	
}

.footer-nav img{
	display: inline;
	width:40px;
	height:40px;
}


.nav li{
	display:inline;	
}

.nav a{
	display:inline-block;
	padding:.5cm;
	color:white;
	text-decoration:none;
}

.nav a:hover{
	background-color:rgba(128,128,128);
}

.about-image-one{
	float:left;
	height:200px;
	width:200px;
	margin:15px;
	border-radius:40%;
}